[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"pymc3" = "*"
scikit-learn = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"

[dev-packages]
jupyterlab = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
