[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"pymc3" = "*"
scikit-learn = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
seaborn = "*"
arviz = "*"

[dev-packages]
jupyterlab = "*"

[requires]
python_version = "3.7"
